<h1>EAT DA BURGBURG!!</h1>


<h3>scarf dads</h3>



<ul>
    {{#each burger}}
    <il>
        <p>{{this.id}} {{this.burger_name}}</p>
    </il>
    {{/each}}
</ul>

<form action= "/" method="POST">
    <textarea type= "text" name="task"></textarea>

    <button type="submit">DEVOUR</button>



</form>