body {
    font-family: 'Staatliches', cursive;
    color:orange;
    background-size: 5%;
    background-image:url(https://previews.123rf.com/images/pixdesign123/pixdesign1231508/pixdesign123150800804/43965910-3d-rendered-illustration-of-burger-cartoon-character.jpg);
}

.nameOfBurg,
.pastBurgName {
    background-color: orangered;
    padding-top: 3px;
    height: 50px;
    margin-bottom: 3px;
}

.form-group{
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.devour {
    width:70%;
    height:30px;
    font-weight: bolder;
    margin-bottom: 3px;
}

h1 {
    background-color: orangered;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

h3{
    background-color: orangered;
    color: yellow;
    text-align: center;
}

.tagBoi{
    background-color: orangered;
    text-align: center;
}

.addedBurgs {
    text-align: center;
}

.pastBurgs {
    text-align: center;
}
#eatme{
    background-color: orangered;
}

#getBurg{
    background-color: orangered;
}
#burgburg{
    background-color: greenyellow;
}
label{
    background-color: greenyellow; 
}


